<div class="fuel-container <%=company %>">
    <div class="fuel-icon">
      <img class="<%=company %>-icon" src="/images/fuel_station_icons/<%=company %>.png">
    </div>

    <!-- Her içeriği parçala -->
    <div class="fixed-grid has-2-cols has-2-cols-mobile fuel-content">
      <div class="grid">
        <div class="cell">
          <div class="fuel-type-container has-text-centered"><p class="fuel-cost-name">Benzin</p></div>
          <div class="fuel-cost-container <%=company %>-cost-gasoline has-text-centered"></div>
        </div>
        <div class="cell">
          <div class="fuel-type-container has-text-centered"><p class="fuel-cost-name">Motorin</p></div>
          <div class="fuel-cost-container <%=company %>-cost-diesel has-text-centered"></div>
        </div>
        <div class="cell">
          <div class="fuel-type-container has-text-centered"><p class="fuel-cost-name">Motorin+</p></div>
          <div class="fuel-cost-container <%=company %>-cost-diesel-plus has-text-centered"></div>
        </div>
        <div class="cell">
          <div class="fuel-type-container has-text-centered"><p class="fuel-cost-name">Lpg</p></div>
          <div class="fuel-cost-container <%=company %>-cost-lpg has-text-centered"></div>
        </div>


      </div>
    </div>
</div>